### Set

In [1]:
s = {10,2,31,40,5}
print(s)

{2, 5, 40, 10, 31}

In [5]:
li = [1,1,1,2,3,4,5,2,4,5,3,5,6]
t = (1,1,1,2,3,4,5,2,4,5,3,5,6)
s = {1,1,1,2,3,4,5,2,4,5,3,5,6}
type(li)
type(t)
type(s)

set

In [6]:
print("length of list: ",len(li))
print("length of tuple: ",len(t))
print("length of set: ",len(s))

length of list:  13
length of tuple:  13
length of set:  6

In [7]:
print(s)

{1, 2, 3, 4, 5, 6}

In [8]:
print(li)

[1, 1, 1, 2, 3, 4, 5, 2, 4, 5, 3, 5, 6]

### Set methods
- dir(set)

In [10]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

## Adding

- add()
- update()

In [14]:
animals = {'cat','dog','bird','swan','crow'}

In [15]:
print(animals)

{'bird', 'swan', 'dog', 'cat', 'crow'}

In [16]:
# 'fox'
animals.add('fox')

In [17]:
animals

{'bird', 'cat', 'crow', 'dog', 'fox', 'swan'}

In [18]:
animals.add('parrot')
print(animals)

{'bird', 'fox', 'swan', 'dog', 'cat', 'crow', 'parrot'}

In [19]:
## update() --> to add multiple elements at a time in the form of a list or tuple.
animals.update((12,43.5))
print(animals)

{'bird', 43.5, 'fox', 12, 'swan', 'dog', 'cat', 'crow', 'parrot'}

In [20]:
animals.update([6.78,51])
print(animals)

{6.78, 'bird', 43.5, 'fox', 12, 'swan', 'dog', 51, 'cat', 'crow', 'parrot'}

In [40]:
animals.add((90,8.0,2,6,91,24))
print(animals)

{6.78, 'bird', 43.5, 'fox', 12, 'swan', (90, 8.0, 2, 6, 91, 24), (90, 8.0), 'dog', 51, 'cat', 'crow', 'parrot'}

In [25]:
li = [1]

In [30]:
li.append(90)

In [31]:
print(li)

[1, 90, 90, 90]

In [32]:
s = {1,2}

In [33]:
print(s)

{1, 2}

In [38]:
s.add(10)

In [39]:
print(s)

{1, 2, 10}

## Deletion

- clear() --> to erase all the set elements at a time
- remove() --> to delete a particular element.
- discard() --> to delete a particular element.
- pop() --> to delete a random element.

In [43]:
print(animals)

{6.78, 'bird', 43.5, 'fox', 12, 'swan', (90, 8.0, 2, 6, 91, 24), (90, 8.0), 'dog', 51, 'cat', 'crow', 'parrot'}

In [47]:
animals.remove((90,8.0))

In [48]:
print(animals)

{'bird', 43.5, 'fox', 12, 'swan', (90, 8.0, 2, 6, 91, 24), 'dog', 51, 'cat', 'crow', 'parrot'}

In [49]:
animals.discard((90, 8.0, 2, 6, 91, 24))

In [50]:
print(animals)

{'bird', 43.5, 'fox', 12, 'swan', 'dog', 51, 'cat', 'crow', 'parrot'}

In [51]:
animals.discard(12)

In [52]:
animals

{43.5, 51, 'bird', 'cat', 'crow', 'dog', 'fox', 'parrot', 'swan'}

In [53]:
animals.remove('peacock')

KeyError: 'peacock'

In [54]:
animals.discard('peacock')

In [55]:
animals.remove(12)

KeyError: 12

In [56]:
animals.discard(12)

In [57]:
animals

{43.5, 51, 'bird', 'cat', 'crow', 'dog', 'fox', 'parrot', 'swan'}

In [62]:
animals.pop()

'fox'

In [63]:
animals

{51, 'cat', 'crow', 'dog', 'parrot', 'swan'}

In [64]:
animals.clear()

In [65]:
animals

set()

In [2]:
li = [1,2,11,3,4]
s = {6,7,8,9,1,2,3,5,10,4}
for value in li:
    if value in s:
        s.discard(value)
print(s)

{5, 6, 7, 8, 9, 10}

### Set Operations

- Union  --> combination of all elements from both sets.
- Intersection --> common elements in both sets
- Difference --> (a-b)==> all the remaining elements from set a after removing common elements.
- Symmetric Difference --> uncommon elements from both sets.

In [3]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [34]:
# union operation
print(a | b) # b | a
print((a|b)==(b|a))

# by using methods
print(a.union(b))

print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8}
True
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [36]:
# intersection operation
print(a & b) # b&a
print((a&b)==(b&a))

print(a.intersection(b))

print(a)
print(b)

{4, 5}
True
{4, 5}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [37]:
# difference operation
print(a - b)
print((a-b)==(b-a))
print(b-a)

# by using method
print("by using methods: ",a.difference(b)) # a-b
print(b.difference(a)) # b-a

print(a)
print(b)

{1, 2, 3}
False
{8, 6, 7}
by using methods:  {1, 2, 3}
{8, 6, 7}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [38]:
# symmetric difference operation
print(a^b)
#print((a|b)-(a&b))
print((a^b)==(b^a))

# by using method
print(a.symmetric_difference(b))

print(a)
print(b)

{1, 2, 3, 6, 7, 8}
True
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [22]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# copy --> to copy the existing set elements ot a new set.
# issubset -->
# issuperset -->
# isdisjoint -->

In [23]:
s = {6,7,8,9,10}
s1 = s.copy()

In [24]:
s1

{6, 7, 8, 9, 10}

In [30]:
m = {1,2,3,4,5,6} 
n = {3,6}

print(n.issubset(m))
print(m.issuperset(n))

True
True

In [33]:
l = {4,5,6,7}
p = {1,2,3}

l.isdisjoint(p)

True

In [ ]:
# difference_update  --> 
# intersection_update
# symmetric_difference_update

In [43]:
p = {10,20,30,40}
q = {40,50,60,10}

print(p.difference(q)) # p-q

print(p)
print(q)

{20, 30}
{40, 10, 20, 30}
{40, 50, 10, 60}

In [45]:
q.difference_update(p) # q-p ==> 50,60

In [46]:
print(p)
print(q)

{40, 10, 20, 30}
{50, 60}

In [47]:
p = {10,20,30,40}
q = {40,50,60,10}

In [49]:
p.intersection_update(q) # p&q

In [50]:
print(p)
print(q)

{40, 10}
{40, 50, 10, 60}

In [52]:
q.intersection_update(p) # q&p

In [53]:
print(p)
print(q)

{40, 10}
{40, 10}

In [54]:
p = {10,20,30,40}
q = {40,50,60,10}

In [56]:
p.symmetric_difference_update(q)

In [57]:
print(p)
print(q)

{50, 20, 60, 30}
{40, 50, 10, 60}

In [ ]:
q.symmetric_difference_update(p)

print(p)
print(q)