## Day Objectives:

- Lists
- Tuples
- Sets

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [2]:
# join()
# center()
# startswith()
# endswith()

s = "tues day"

'@'.join(s)

't@u@e@s@ @d@a@y'

In [5]:
s1 = "abcd"

'.'.join(s1)

'a.b.c.d'

In [8]:
s1.center(11)

'    abcd   '

In [25]:
s.center(20,'1')

print(s)

tues day

In [14]:
s1.zfill(10)

'000000abcd'

In [16]:
s2 = "today is 7th day of the program"
len(s2)

s2.zfill(20)

'today is 7th day of the program'

In [18]:
s2.startswith('to')

True

In [19]:
s2.endswith('ram')

True

In [20]:
s2.endswith('gam')

False

In [22]:
s3 = "goto meeting"

'o' in s3

True

In [24]:
'o m' in s3

True

## Lists

- It is one of the data structures in python.
- we can declare a list by using [] or by using list()
- indexing and slicing are same as like strings concept.


- Types oF DS:
    - 1. Immutable
        - We can't change once it's declared.
        - ex: strings, tuples
    - 2. Mutable
        - We can change at any time after its declaration.
        - ex: lists,sets,dictionaries

In [28]:
s = 'python'

s = s.replace('p','P') # Immutable

In [29]:
print(s)

Python

In [30]:
# list declaration

li = [1,2,3,4,5]
print(type(li))

<class 'list'>

In [32]:
print(li)

len(li)

[1, 2, 3, 4, 5]

5

In [36]:
n = [4,87,1,9,29,41,100,67,46]
print('Length of the list: ',len(n))
print("Maximum of list: ",max(n))
print("Minimum of list: ",min(n))

Length of the list:  9
Maximum of list:  100
Minimum of list:  1

In [38]:
a = [11,9.8,'green']
b = ['apple',67,32.4]

In [40]:
# Concatenation
a+b

[11, 9.8, 'green', 'apple', 67, 32.4]

In [41]:
b+a

['apple', 67, 32.4, 11, 9.8, 'green']

In [42]:
# Repetetion
a*3

[11, 9.8, 'green', 11, 9.8, 'green', 11, 9.8, 'green']

In [43]:
(a+b)*2

[11, 9.8, 'green', 'apple', 67, 32.4, 11, 9.8, 'green', 'apple', 67, 32.4]

In [44]:
a

[11, 9.8, 'green']

In [45]:
b

['apple', 67, 32.4]

In [49]:
# membership operators: in and not in 

# in : if the given element present in the list then it returns TRUE.
# not in: if the given element not present in the list then if returns True.

'purple' in a
9.8 in a

True

In [51]:
67 not in b

False

In [81]:
names = ['ayyappa','bharathi','jaya','murthy','siva','ramesh','swathi']

names[0]
names[2]

names[:4] #

['ayyappa', 'bharathi', 'jaya', 'murthy']

In [80]:
s = "ramesh"

s[0]
s[1]
s[2]

print(s[0:3]) # ram
print(s[:3]) # ram

# mesh
print(s[2:6])
print(s[2:])

ram
ram
mesh
mesh

In [82]:
li = [1.5,'python',3,'java',90,10.6]

# 'python',3,'java'
li[1:4]

['python', 3, 'java']

In [83]:
li[2:]

[3, 'java', 90, 10.6]

In [84]:
# reversing a string
s = 'malayalam'  
s[::-1]

'malayalam'

In [89]:
# input: string, output:yes or no, condition: s==rs
s = input("Enter a string: ")

if s==s[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a string: ***&&***
Palindrome

In [91]:
print(li)
li[::-1]

[1.5, 'python', 3, 'java', 90, 10.6]

[10.6, 90, 'java', 3, 'python', 1.5]

In [92]:
# 1.5,3,90
#range(start,stop,step) # default start=0, stop=user defined, step=1
#li[start:stop:step] # default start=0,step=1, stop=end of the string
li[::2]

[1.5, 3, 90]

In [93]:
li[::3]

[1.5, 'java']