#### Please Wait for few minutes other faculty's are join


#### Today Topics:
- Iterations
- Control/Jump Statements

In [4]:
#print the even numbers in the range of 0 to 100 and even nums count
count=0
for evenNum in range(0,100+1,2):
    count=count+1
    print(evenNum,end=' ')
print("\nTotal even numbers are:",count)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
Total even numbers are: 51

In [3]:
c=0
for i in range(0,100+1):
    if i%2==0:
        c=c+1
        print(i,end=" ")
print("\nTotal Count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
Total Count: 51

In [5]:
#Generate the all leap years in the range of 2000 to 2020
st=int(input())
en=int(input())
c=0
for year in range(st,en+1):
    if(year%400==0 or(year%100!=0) and (year%4==0)):
        c=c+1
        print(year,end=" ")
print("\n Total years count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
 Total years count: 6

In [6]:
#Table
#i/p:5
#o/p:5*1=5
#     5*2=10
#    .
#    .   
#    .
#    5*10=50
n=int(input())    
for i in range(1,10+1):
    print(n,"*",i,"=",n*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
#i/p:aba  97+98 +97=292
#o/p:292
a=input()
s=0
for i in a:   #i=a      #i=b      #i=a 
    s=s+ord(i)   #0+97=97   #97+98=195    195+97=292
print(s)

aba
292

In [10]:
ord('A')

65

In [12]:
#Factors 10-->1,2,5,10
n=int(input())        #10
for i in range(1,n+1): #i=1     i=2   i=3     i=4    i=5   i=10
    if(n%i==0):      #10%1==0(T)   10%2==0(T)  10%3==0(F)  10%5==0(T)
        print(i,end=" ")

10
1 2 5 10

In [19]:
#Check the given num is Prime num or not
n=int(input())     #5
c=0
for i in range(1,n+1):  #i=1  i=2   i=3  i=4   i=5
    if(n%i==0):  #5%1==0(t)   5%2==0(f)    5%5==0(t)
        c+=1       #1     2
if(c==2):
    print(n,"is prime num")
else:
    print(n,"is not a prime num")

5
5 is prime num

In [24]:
#i/p:st=1
#ep:10
#o/p:Even nums are:2 4 6 8 10
#    Odd nums are:1 3 5 7 9
s=int(input())
e=int(input())
print("Even nums are:",end=" ")
for i in range(s,e+1):
    if(i%2==0):
        print(i,end=" ")
print("\nOdd nums are:",end=" ")
for i in range(s,e+1):
    if(i%2!=0):
        print(i,end=" ")

1
10
Even nums are: 2 4 6 8 10
Odd nums are: 1 3 5 7 9

In [25]:
s=int(input())
e=int(input())
print("Even nums are:",end=" ")
for i in range(s,e+1):
    if(i%2==0):
        print(i)
    else:
        print(i)

1
10
Even nums are: 1
2
3
4
5
6
7
8
9
10

#### While
- it executes block or set of instructions until the condition is false
- while we dont the range(range unknown)
- Execution is fast compared to for.
- User incrementation

In [ ]:
#while syntax:
initization
while condition:
    statement
    incre/decre

In [26]:
n=2
while n<=5:
    print("Thankyou")
    n=n+1

Thankyou
Thankyou
Thankyou
Thankyou

In [27]:
i=10
while i>=1:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [31]:
#i/p:7864
#o/p:digits count:4
n=int(input())   #7864
c=0
while(n!=0):     #7864!=0     786!=0      78!=0     7!=0    0!=(f)
    #rem=n%10    #7864%10=4   786%10=6    78%10=8    7%10=7
    c=c+1       #1             2           3         4
    n=n//10      #7864//10=786   786//10=78   #78//10=7   7//10=0
print("Digits count:",c)

7864
Digits count: 4

In [ ]:
10)7864(786         10)786(78
   7860                780
 --------           --------
      4-->rem             6-->rem

In [33]:
#palindrome  i/p:121   o/p:121
n=int(input())   #7864
temp=n 
rev=0
while(n!=0):  #7864!=0   786!=0    78!=0    7!=0  0!=0(f)
    rem=n%10 #4         6          8        7
    rev=rev*10+rem #4  46         468     4687
    n=n//10      #786  #78     78//10=7   7//10=0
if(temp==rev):
    print("Given num is palindrome")
else:
    print("Given num is not a palindrome")

7864
Given num is not a palindrome

#### Nested for
- for loop inside for loop(loop within loop)
- outer loop &innerloops

In [ ]:
#syntax:
for var in range(start,end,step):
    for var in range(start,end,step):
        statements